﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Thema.aspx.cs" Inherits="Portfolio.Views.VThema.Thema" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Panel ID="PNameThema" runat="server">
        <!--<p><asp:Label ID="Label4" runat="server" Text="Label">Thema</asp:Label></p>-->
    </asp:Panel>
    <asp:Panel ID="PContents" runat="server">
        <!--<asp:Panel ID="Panel1" runat="server">
            <div><asp:Label ID="Label1" runat="server" Text="Label">DateTimeSend</asp:Label></div>
            <div><asp:Label ID="Label2" runat="server" Text="Label">User</asp:Label></div>
            <div><asp:Label ID="Label3" runat="server" Text="Label">text</asp:Label></div>
            </asp:Panel>
       <asp:Panel ID="Panel2" runat="server">
            <div><asp:Label ID="Label5" runat="server" Text="Label">DateTimeSend</asp:Label></div>
            <div><asp:Label ID="Label6" runat="server" Text="Label">User</asp:Label></div>
            <div><asp:Label ID="Label7" runat="server" Text="Label">text</asp:Label></div>
            </asp:Panel>
        <asp:Panel ID="Panel3" runat="server">
            <div><asp:Label ID="Label8" runat="server" Text="Label">DateTimeSend</asp:Label></div>
            <div><asp:Label ID="Label9" runat="server" Text="Label">User</asp:Label></div>
            <div><asp:Label ID="Label10" runat="server" Text="Label">text</asp:Label></div>
            </asp:Panel>-->
    </asp:Panel>
    </form>
</body>
</html>
